body {
  /* background-color: #f7f7f7 !important; */
  background-color: gold !important;
}
.container {
  background-color: white;
  max-width: 720px !important;
  height: 320px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-process {
  margin-left: 27px;
}

.btn-outline-warning {
  color: #fff;
  width: 150px;
  height: 40px;
  margin-left: 20px;
}

#boxTotal {
  margin-right: 230px;
}
